{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "react/require-default-props": [0],
    "prettier/prettier": ["error",{
      "endOfLine": "auto"}
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:prettier/recommended", "plugin:cypress/recommended"]
}
